.document-tracking-container {
  // border:1px solid red;
  .form-style-1 {
    .ant-select,
    .ant-input {
      margin-bottom: 0px;
    }
    .ant-calendar-picker-icon,
    .ant-calendar-picker-clear,
    .anticon-close-circle {
      top: 47% !important;
    }
    .expDate {
      margin-bottom: 0px;
      .ant-form-item-explain {
        bottom: -7px;
        font-size: 8px !important;
        right: 4px;
        width: auto;
      }
    }
  }
  .row {
    border: 1px solid @primary-color;
    width: 100%;
    padding: 10px 16px;
    // border-radius: 8px;
    // background: #fff7f3;
    box-shadow: 2px 2px 4px #a5a5a5;
    // padding: 13px;
    margin-bottom: 10px;
    border-radius: 5px;
    background: #fffbf8;
  }
}
