.rich-text-editor-container {
  .tox-tinymce {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    transition: all 0.3ms;

    &:hover {
      border: 1px solid @primary-color;
    }
  }

  .tox:not(.tox-tinymce-inline) .tox-editor-header {
    padding: 0px 0px;
  }
}