.report-preset-container {
  // border:1px solid red;
  .set-preset-table {
    .ant-table-tbody {
      display: none;
    }
  }
  .col-name-label-in-table {
    border: 1px solid #dbdbdb;
    padding: 5px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    border-radius: 5px;
    background: #fff;
  }
}
