@app-content-bg-color: #fbfbfb;
@app-content-bg-color-mobile: #f2f1f7;
@app-container-padding: 16px;
@app-container-mobile-padding: 10px;
@app-content-container:20px;
@app-border-color:#d4d4d4;
@menu-and-sidebar-border: 1.5pt solid @app-border-color;
// @icon-color:#fff;//General icon in app
@menu-icon-color:#a9a9a9;

@theme-color-1 : rgba(238,156,96,1);