.client-referral-form-container{
  .inline-form-field{
    // border:10px solid red;
    display: inline-block;
    .ant-input{
      padding: 10px 15px !important;
      height: 30px !important;
      margin-left:5px;
    }
  }
    
    /*Set help*/
    .help, .ant-form-item-explain{
      // color: @primary-color;
      font-style: italic;
      font-size: 12px;
      /* font-weight: 500; */
    }
    .help a{color:inherit}
    /*Set Modal*/
  //   .ant-modal-content{
  //       box-shadow: 0px 0px 100px #5d5d5d;
  //       border: 1px solid @primary-color;
  //       border-top: 4px solid @primary-color;
  //       background: #fff7f3;
  //   }
  //   .ant-modal-header{
  //     background: #fff7f3; 
  //     border: none;
  //   }
  //   .ant-modal-body{padding-top: 0px;}
  //   .modalBody{
  //     border: 1px solid #ffa779;
  //       background: #fff;
  //       padding: 10px;
  //   }
    
    
    /*Step dots styles*/
    .small_dot_steps .ant-steps-dot .ant-steps-item-content, .ant-steps-dot.ant-steps-small .ant-steps-item-content{width:0px}
    .small_dot_steps .ant-steps-dot .ant-steps-item-icon, .ant-steps-dot.ant-steps-small .ant-steps-item-icon{margin-left: 0px;}
    .small_dot_steps .ant-steps-label-vertical .ant-steps-item{padding: 0px 0.1%;}
    .ant-steps{display: block !important;text-align: center;margin: 16px 0px;}
    .small_dot_steps .ant-steps-dot .ant-steps-item-process .ant-steps-item-icon, .ant-steps-dot.ant-steps-small .ant-steps-item-process .ant-steps-item-icon{width: 16px; height: 16px; position: relative; top: -3px; }
    .small_dot_steps .ant-steps-dot .ant-steps-item-tail, .ant-steps-dot.ant-steps-small .ant-steps-item-tail{ width:0% }
  //   .field_no_label{ margin-top:42px }
    .dynamic_class, .nested_class{ border-bottom:1px dashed #d8d8d8 }
    .dynamic_class2{
      border: 1px dashed #d8d8d8;
      background: #f9f9f9;
      margin-bottom: 2px;
      padding: 0px 10px;
    }
    
  //   .row-small .ant-col .ant-row{
  //     /* border:1px solid red; */
  //     margin-bottom:10px
  //   }
    
    
    .thank_you_container{
      /* border:1px solid red; */
      text-align:center;
      padding:20px 0px;
      .draft_id_container{
        p{
          font-size:16px;    
          font-weight: 500;
        }
        span{
          border: 1px dashed @primary-color;
          padding: 10px 20px;
          display: inline-block;
          border-radius: 3px;
          background: #f6f7f7;
          font-size: 16px;
        }
      }
      .draftIdLink{
        color: @primary-color;
        padding: 10px;
      }
    }
    .thank_you_container .icon,
    .thank_you_container .icon_start{
      font-size: 74px !important;
      color: #58a314;
    }
    .thank_you_container .icon_start{
      color: #eb843b; 
    }
    .thank_you_container p{
      font-size: 20px;
      // line-height: 36px;
      line-height: unset;
      margin: 0;
    }
    .thank_you_container .msg{
      font-size: 14px;
      font-weight: 400;
    }

    .msg_box{
      border-top: 1px dashed @primary-color;
      border-bottom: 1px dashed @primary-color;
      padding: 10px 0px;
      margin-top: 10px;
    }
    
    
    .thank_you_list{
      margin:0px;
      padding:0px;
      list-style: none;
    }
    .thank_you_list li{
      font-size: 14px;
      text-align: left;
    }
    .thank_you_list li:before{
      content: '';
      border: 1px solid red;
      border-radius: 50px;
      width: 8px;
      height: 8px;
      display: inline-block;
      background: #eb843b;
      margin-right: 10px;
    }
    
    /*Ant custom*/
    .long_label .ant-form-item-label{
      line-height: unset;
      white-space: unset;
      text-align: unset;
      margin-bottom: 10px;
    }
    .long_checkbox_label .ant-col label > span:last-child{
      display: inline-block;
      width: 96%;
      line-height: 20px;
      float: right;
      margin-top: -4px;
    }
    .long_checkbox_label .ant-col .ant-form-item-explain{
      padding-left: 2.7%;
    }
    
    
    
    .content-divider{
        margin-top:5px;
    }

    // .day_availibility_fields{
    //   .ant-input, .ant-time-picker-input{margin-bottom: 5px;}
    //   .ant-input[disabled]{color:#616161}
    //   .ant-calendar-picker-clear,.ant-calendar-picker-icon,
    //   .ant-time-picker-clear,.ant-time-picker-icon,
    //   .ant-input-suffix{top: 42% !important;}
    //   .has-error .ant-form-item-explain, .has-error .ant-form-split{display:none}
    // }

    .upload-documents-container{
      .ant-upload-btn{
        padding:10px 0px !important;
      }
      .ant-upload-drag-icon i{
        font-size: 42px !important;
      }
      .ant-upload-drag-container p{
        font-size: 14px !important;
      }
    }
      // .step_container{
      //   padding: 0px 10px 0px 10px;
      //   .ant-steps-item-container{ width: 40px;}
      //   .ant-steps-item-tail{display:none}
      //   .ant-steps-item{
      //     margin:0px;
      //     display: inline-block;
      //     .ant-steps-item-content{
      //       display: none;
      //     }
      //   }
      // }
    .processBtn{
      .ant-btn{
        padding: 12px 50px 12px 50px;
        height: unset;
        font-size: 18px;
      }
    }

    .uploader-progress-container{
      border: 1px dashed #b9b9b9;
      background: #eef1f1;
      padding: 15px 20px 15px 25px;
      margin-top: 15px;
      border-radius: 5px;
      font-size: 12px;
    }
    .draftEdit{
      font-size: 18px;
      height: 0px;
      padding: 0px;
      line-height: 0px;
      color: @primary-color;
    }
    .ant-dropdown-menu-submenu-title{
      border:1px solid red !important;
      padding-right:20px;
    }
    .job_details{
      border: 1px dashed #b9b9b9;
      padding: 5px 10px;
      background: #eef1f1;
      border-radius: 3px;
      margin-bottom: 2px;
      .title{
        font-size: 16px;
        font-weight: 500;
      }
    }
    // .sign-image-box{
    //   width:306px;
    //   height:180px;
    //   border:2px dashed #dddddd;
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   .reset-btn{
    //     top: -21px;
    //     right: 5px;
    //     position: absolute;
    //     font-size: 18px;
    //     line-height: 0;
    //   }
    // }
    // .date-and-sign-box{
    //   text-align: center;
    //   // border:1px solid red
    // }
}
