.company-container {
  .branch-container {
    border: 1px dashed #919191;
    background-color: #fafafa;
    padding: 12px 15px 10px 15px;
    padding-bottom: 0px;
    margin-bottom: 3px;
    border-radius: 3px;
  }

  .uploadLogoInput .ant-upload.ant-upload-drag .ant-upload {
    padding: 20px 0;
  }
  .uploadLogoInput .ant-upload-drag-container p:nth-child(2) {
    font-size: 14px !important;
    padding: 0px 5px;
  }
  .uploadLogoInput + .view-logo {
    border: 1px dashed #d9d9d9;
    text-align: center;
    font-size: 11px;
    border-radius: 5px;
    margin-top: -13px;
    margin-bottom: -5px;
    background: #fafafa;
  }
  .uploadLogoInput .ant-upload-list-text {
    /* border: 1px solid #afb8e1; */
    position: absolute;
    width: 94%;
    right: 3%;
    left: 3%;
    bottom: 8px;
    background: #ccd5ff;
    border-radius: 10px;
    padding: 0px 5px;
  }
  .uploadLogoInput .ant-upload-list-text .ant-upload-list-item {
    margin: 0px;
  }
  .uploadLogoInput .anticon-paper-clip,
  .uploadLogoInput .ant-upload-list-item-name {
    font-size: 11px;
  }
  .default-btn{
    font-size: 24px;
    margin-top:-5px;
    position: relative;
    top:3px;
  }

  @media (max-width: 991px) {
    .uploadLogoInput .ant-upload-drag-container p:nth-child(2) {
      font-size: 14px !important;
      padding: 3px 2px;
    }
    .edit-company-modal {
      width: 98% !important;
    }
  }
  @media (max-width: 576px) {
    .uploadLogoInput {
      margin-bottom: 15px !important;
    }
  }
}


.show-image-modal {
  /* border:2px solid red; */
  padding: 0px;
  width: fit-content !important;
}
.show-image-modal .ant-modal-body {
  padding: 15px;
}
.show-image-modal .ant-modal-header {
  display: none;
}
.show-image-modal .ant-modal-close-x span {
  border: 1px solid #fcfcfc;
  position: relative;
  top: -30px;
  right: -27px;
  width: 23px;
  height: 23px;
  padding: 5px;
  background: #292929;
  font-size: 11px;
  border-radius: 50px;
  font-weight: inherit;
}