.pageTitleContainer {
  .pageTitle {
    font-size: 2em;
    margin: 0;
  }

  .pageTitle span {
    font-weight: 400;
  }

  .renderContent,
  .breadcrumb {
    margin-bottom: 15px;
    text-align: right;
  }

  .renderContent .formNumber {
    margin-bottom: -5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .number{
      font-weight: 600;
      font-size: 22px;
      line-height: 13px;     
    }
    span {
      font-weight: 400;
      margin-right: 5px
    }

    .rightButton {
      margin-bottom: 0px;
      margin-left: 10px;
    }
  }

  .renderContentWithBreadcrumb {
    margin-bottom: -10px;
  }

  .pageTitleLasIcon {
    font-size: 17px;
    margin-right: 5px;
    position: relative;
    top: 2px;
  }

  .render-page-right .separator {
    display: none;
  }

  @media (max-width: 767px) {
    .pageTitle {
      padding: 0px;
      font-size: 24px;
    }

    .breadcrumb {
      text-align: left;
      margin-top: 0px !important;
      padding: 0px;
      padding-bottom: 10px;
    }

    .renderContent .formNumber {
      justify-content: start;
    }
  }

  /*End 767*/
  @media (max-width: 576px) {
    .pageTitle {
      font-weight: 500;
      font-size: 18px;
      text-align: center;
      padding: 0px 5px;
    }

    p,
    .breadcrumb {
      display: none;
    }

    .renderContent {
      margin: 0px;
      margin-bottom: 10px;

      .ant-btn {
        width: 100%;
        height: 30px;
        font-size: 13px;
        // margin: 0px 10px;
      }
    }

    .renderContentWithBreadcrumb {
      margin-bottom: 0px;
    }

    .renderContent .formNumber {
      border-radius: 5px;
      display: block;
      text-align: center;
      .number{
        font-size: 15px;
        // padding: 5px 0px;
        
      }
      .rightButton {
        margin: 0px;
        margin-top: 8px;
      }
    }
  }

  //End 576
}

//End .pageTitleContainer

.mobile-web-view-container {
  @media (max-width: 576px) {
    .page-title-mobile-fixed-bar{
      position: sticky;
      top: 0;
      z-index: 4;
      box-shadow: 0px 10px 10px -5px #00000036;
    }

    .pageTitleContainer {
      margin: -10px;
      margin-bottom: 10px;

      .renderContent {
        margin: 0px;
        margin-top: 10px;

        .ant-btn {
          width: -webkit-fill-available;
          margin: 0px 10px;
        }
      }

      .pageTitle {
        // font-weight: 400;
        // span{font-weight: inherit;}
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        background: @primary-color;
        padding: 10px 5px;
        color: #fff;
        // padding-top: 35px;
        // position: fixed;
      
      }
      .renderContent .formNumber .number{
        padding-bottom: 10px;
        display: inline-block;
      }
    }//End pageTitleContainer
    //End pageTitleContainer
    // .mobile-ios .pageTitleContainer .pageTitle{
    //   padding-top: 60px;
    // }
    // .mobile-android .pageTitleContainer .pageTitle{
    //   padding-top: 37.5px;
    // }
  }

  /*End 576*/
}

//End mobile-web-view-container